.profile-font{
    font-size: 20px;
}

.btn1 {
    background-color: rgb(6, 62, 38);
    color: white;
}

.form-group {
    margin-top: 10px;
}

input {
    height: 40px;
}

select {
    height: 40px;
}

.material-icons {
    font-size: 40px;
}
mat-label {
    font-size: 18px;
}
.input-group {
    color: white;
    background-color: rgb(6, 62, 38);
    height: 40px;
    max-width: auto;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-dialog {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 20px;
}