<div style="display: flex; flex-direction: row; height: 50px; width: 100%; align-items: center; background-color: #963596; font-family: 'Ubuntu', sans-serif;">
    <div style="width: 30%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;" >
        <mat-icon style="padding: 10px; color: white !important;">dashboard</mat-icon>
        <h2 style="color: white;">Instep Platform</h2>
    </div>
    <div style="width: 50%; display: flex; flex-direction: row; ">
        <mat-form-field appearance="outline" style="background-color: white; margin-top: 20px; width: 100%;">
            <mat-label>Search Candidate</mat-label>
            <input matInput >
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" style="margin-top: 20px; width: 40px !important;height:56px !important;" ><mat-icon style="font-size: 20px;">search</mat-icon></button>
    </div>
    <div style="width:20%; display: flex; flex-direction: row; justify-content: flex-end; align-items: center;">
        <h4 style=" color: white;">Mentor</h4>
        <img src="../../assets/profile_pic.png" alt="Profile pic" style="height:30px; width:30px;border-radius: 50%;padding: 10px;">
    </div>
</div>
    

