
<div style="margin-left: 10%; height: 100%;">
    <h2>Events</h2>

    <div style="height: 20vw;">
        <div>
            <h4>Upcoming Events</h4>
            <div style="padding: 60px 0;">
                <div style="width: 20%;">
                    <app-web-components-card-action></app-web-components-card-action>
                </div>
            </div>
            
        </div>
    </div>

    <div style="height: 20vw;">
        <div >
            <h4>Completed Events</h4>
            <div style="padding: 60px 0;">
                <div style="width: 20%;" >
                    <app-web-components-card-action ></app-web-components-card-action>
                </div>
            </div>
            
        </div>
    </div>

    
</div>

<!-- <app-web-components-card-action></app-web-components-card-action> -->
