<div style="display: flex; align-items: center; justify-content: center; margin-top: 10%;">
    <mat-card>
        <mat-card-content>
            <div style="display: flex; flex-direction: column;">
                <button mat-raised-button color="primary" style="margin: 15px;" (click)="fillForm()">Intership Applicants Click here</button>
                <button mat-raised-button color="primary" style="margin: 15px;" (click)="loginMentor()">Mentor Login</button>
                <button mat-raised-button color="primary" style="margin: 15px; " (click)="loginAdmin()">Admin Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

