<div style="display: flex; align-items: center; justify-content: center; margin-top: 10%;">
    <mat-card>
        <mat-card-content>
            <div style="display: flex; flex-direction: column;">
                <button mat-raised-button color="primary" style="margin: 15px;margin-right: 1vw;
                background: #963596;
                color: white;
                font-size: 20px;
                padding: 10px;
                height: auto;
                width: 400px; " (click)="fillForm()">Intership Applicants Click here</button>
                <button mat-raised-button color="primary" style="margin: 15px; margin-right: 1vw;
                background: #963596;
                color: white;
                font-size: 20px;
                padding: 10px;
                height: auto;
                width: 400px; " (click)="loginMentor()">Mentor Login</button>
                <button mat-raised-button color="primary" style="margin: 15px; margin-right: 1vw;
                background: #963596;
                color: white;
                font-size: 20px;
                padding: 10px;
                height: auto;
                width: 400px; " (click)="loginAdmin()">Admin Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- <app-schedule-interview-screen></app-schedule-interview-screen> -->

