<div style="line-height: 0px;font-family: 'Ubuntu', sans-serif;margin: 5px;  " >
    <div style="display: flex;margin-left: 10px; margin-right: 10px;">
        <h3 style="width: 16%;">Name</h3>
        <h3 style="width: 16%;">Interview Timing</h3>
        <h3 style="width: 16%;">Education</h3>
        <h3 style="width: 16%;">Location</h3>
        <h3 style="width: 16%;">Timezone</h3>
    </div>
    <div style="width:100%; line-height: 0px; margin: 5px;" *ngFor="let c of candidateArray; index as i">
        <mat-card style="width: 100%;">
            <div style="display: flex; align-items: center; margin-left: 10px; margin-right: 10px;">
                <h3 style="width: 16%;font-weight: 100;">{{c.name}}</h3>
                <h3 style="width: 16%;font-weight: 100;"><button mat-raised-button matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over" style="margin-left: 20px;"><p>Today,10:30 AM</p></button></h3>
                <h3 style="width: 16%;font-weight: 100;">{{c.academicLevel}}</h3>
                <h3 style="width: 16%;font-weight: 100;">{{c.workAuthCountry}}</h3>
                <h3 style="width: 16%;font-weight: 100;">IST</h3>
                <button mat-raised-button color="primary" style="margin-bottom: 10px;margin-left: 10px;width: 20%;">Schedule Interview</button>
            </div>
            
            <!-- <div style="line-height: 0px;width: 100%;">
                <div style="display: flex; flex-direction: column;align-items: center;margin: 10px;justify-content: flex-start;">
                    <h3>{{c.name}}</h3>
                    
                </div>
                <div style="display:flex;">
                    <div style="display: flex;margin-left: 10px; margin-right: 10px;"><p style="width: 30%;">Education:&nbsp;</p><p>{{c.academicLevel}}</p></div>
                    <div style="display: flex;margin-left: 10px; margin-right: 10px;"><p style="width: 30%;">Location:&nbsp;</p><p>{{c.workAuthCountry}}</p></div>
                    <div style="display: flex;margin-left: 10px; margin-right: 10px;"><p style="width: 30%;">timezone:&nbsp;</p><p>IST</p></div>
                </div>

                
                
            </div> -->
          </mat-card>
    </div>
    
</div>

