<div style="padding:15px;">
    <div style="display: flex;line-height: 0px; padding: 10px;border:3px solid whitesmoke;border-radius: 10px;">
        <img src="../../assets/profile_pic.png" alt="Profile pic" style="height:250px; width:25%;border-radius: 20%;">
        <div style="display: flex; flex-direction: column; margin-left: 5%; width: 75%; font-family: 'Ubuntu', sans-serif;">
            <div style="display: flex;flex-direction: row;">
                <h3 style="width: 40%; font-weight: 500;">Admin Id:</h3>
                <h3 style="width: 60%; font-weight: 500;">{{adminDetails.adminId}}</h3>
            </div>
            <div style="display: flex;flex-direction: row;">
                <h3 style="width: 40%; font-weight: 500;">Admin Name:</h3>
                <h3 style="width: 60%; font-weight: 500;">{{adminDetails.name}}</h3>
            </div>
        </div>
    </div>
</div>
