@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.snackbar-error {
    --mdc-snackbar-container-color: red !important;
    color:white !important; 
    
  }
  
  .snackbar-success {
    
    --mdc-snackbar-container-color: green !important;
    color:white !important; 
  }
  
  .snackbar-info {

    --mdc-snackbar-container-color: blue !important;
    color:white !important;
  }