<p>candidate-interviews works!</p>

<div style="display: flex;">
    
    <div style="width: 16vw;height: 20vw;margin: 3vw;">
        <mat-card>
            <mat-card-content>
                <div style="display: flex;align-items: center;">
                    <div style="margin: 2px;">
                        <p style="font-size: 18px;">Sneha dixit</p>
                    </div>
                    <div style="height: 20px; margin: 2px;">
                        <div style=" border: 1px solid #0000ff;"><p style="color: blue; line-height:2px;font-size: 12px;">Today, 10:30 am</p></div>
                    </div> 
                </div>
                <div>
                    <div style="line-height: 0px;display: flex;"><div><p style="color: grey; line-height:2px;font-size: 12px;">Education</p></div><div><p style="line-height: 2px;font-size: 12px;margin-left: 20px;">BS Sem 5</p></div></div>
                    <div style="line-height: 0px;display: flex;"><div><p style="color: grey; line-height:2px;font-size: 12px;">Location</p></div><div><p style="line-height:2px;font-size: 12px;margin-left: 20px;">Australia</p></div></div>
                    <div style="line-height: 0px;display: flex;"><div><p style="color: grey; line-height:2px;font-size: 12px;">Timezone</p></div><div><p style="line-height:2px;font-size: 12px;margin-left: 20px;">0203</p></div></div>
                </div>
            </mat-card-content>
          </mat-card>
    </div>
    
</div>
