<div style="padding:15px;">
    <div style="display: flex;line-height: 0px; padding: 10px;border:3px solid whitesmoke;border-radius: 10px;">
        <img src="../../assets/profile_pic.png" alt="Profile pic" style="height:250px; width:25%;border-radius: 20%;">
        <div style="display: flex; flex-direction: column; margin-left: 5%; width: 75%; font-family: 'Ubuntu', sans-serif;">
            <div style="display: flex;flex-direction: row;">
                <h3 style="width: 40%; font-weight: 500;">Mentor Id:</h3>
                <h3 style="width: 60%; font-weight: 500;">{{mentorDetails.mentorId}}</h3>
            </div>
            <div style="display: flex;flex-direction: row;">
                <h3 style="width: 40%; font-weight: 500;">Mentor Name:</h3>
                <h3 style="width: 60%; font-weight: 500;">{{mentorDetails.name}}</h3>
            </div>
            <div style="display: flex;flex-direction: row;">
                <h3 style="width: 40%; font-weight: 500;">Email Id:</h3>
                <h3 style="width: 60%; font-weight: 500;">{{mentorDetails.emailId}}</h3>
            </div>
            <div style="display: flex;flex-direction: row;">
                <h3 style="width: 40%; font-weight: 500;">Location:</h3>
                <h3 style="width: 60%; font-weight: 500;">{{mentorDetails.location}}</h3>
            </div>
            <div style="display: flex;flex-direction: row;">
                <h3 style="width: 40%; font-weight: 500;">Unit:</h3>
                <h3 style="width: 60%; font-weight: 500;">{{mentorDetails.unit}}</h3>
            </div>
            <div style="display: flex;flex-direction: row;">
                <h3 style="  width: 40%; font-weight: 500;">No. of projects mentoring:</h3>
                <h3 style="width: 60%; font-weight: 500;">{{mentorDetails.noOfProjectsMentoring}}</h3>
            </div>
            
        </div>
    </div>
    <div style="margin-top: 5px;">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h3>Projects Mentoring</h3>
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <h3>name</h3>
    
            </mat-expansion-panel>
        </mat-accordion>
        
    </div>
</div>
